<%- include("./partials/header.ejs") %>
    <body>
    <h1>Welcome!</h1>
    <h1>Wilkommen!</h1>
    <h1>Bienvenue!</h1>
    <h1>화영하세요!</h1>
    <img src="https://i.redd.it/9zn0xtnzis121.jpg" alt="cool image">
    <img src="https://i.kym-cdn.com/news_feeds/icons/mobile/000/035/914/6d3.jpg" alt="another cool image">
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/519/479/30c.jpg" alt="another cool image">
    <img src="https://i.kym-cdn.com/entries/icons/original/000/026/489/crying.jpg">
    <img src="https://ih1.redbubble.net/image.722328756.0442/flat,1000x1000,075,f.u1.jpg">
<%- include("./partials/footer.ejs") %>