%html
    %head
        %title Awesome Answers | Questions
        %link{:rel => "stylesheet", :type => "text/css", :href => "styles/styles.css"}


    %body
        %header#header
            .branding
                %a{:href => "index.html"}
                    %img{:src => "./awesome-answers-logo2.svg", :class => "logo"}
            
            
            .nav
                %ul.menu
                    %li.menu-item
                        %button.menu-button{:onclick => "location.href = './questions.html'"} Questions
                    %li.menu-item
                        %button.menu-button{:onclick => "location.href = './newQuestion.html'"} New Question
                    %li.menu-item
                        %button.menu-button{:onclick => "location.href = './signUp.html'"} Sign Up
                    %li.menu-item
                        %button.menu-button{:onclick => "location.href = './signIn.html'"} Sign In
                    %li{:class => "menu-button ghost"}

        %article
            .card
                -# %h1
                %p.pullquote Backing up the panel won't do anything, we need to roboot the redundant agp sensor!
                .stamps
                    %p.seen Seen 99615 times
                    %p.asked Asked over 4 years ago
                .card-footer
                    %button Learn more
                    %ul.social
                        %li.social-icon
                            %i{:class => "fab fa-codepen fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-github fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-js fa-xs"}
                
            .card
                -# %h1
                %p.pullquote We need to overwrite the multi-byte SDD bandwidth!
                .stamps
                    %p.seen Seen 99615 times
                    %p.asked Asked over 4 years ago
                .card-footer
                    %button Learn more
                    %ul.social
                        %li.social-icon
                            %i{:class => "fab fa-codepen fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-github fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-js fa-xs"}    

            .card
                -# %h1
                %p.pullquote The SMS application is down, copy the 1080p bandwidth so we can synthesize the FTP feed!
                .stamps
                    %p.seen Seen 99615 times
                    %p.asked Asked over 4 years ago
                .card-footer
                    %button Learn more
                    %ul.social
                        %li.social-icon
                            %i{:class => "fab fa-codepen fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-github fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-js fa-xs"}    

            .card
                -# %h1
                %p.pullquote If we bypass the hard drive, we can get to the EXE port through the cross-platform HTTP driver!
                .stamps
                    %p.seen Seen 99615 times
                    %p.asked Asked over 4 years ago
                .card-footer
                    %button Learn more
                    %ul.social
                        %li.social-icon
                            %i{:class => "fab fa-codepen fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-github fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-js fa-xs"}    

            .card
                -# %h1
                %p.pullquote The EXE array is down, hack the auxilary feed so we can synthesize the HDD pixel!
                .stamps
                    %p.seen Seen 99615 times
                    %p.asked Asked over 4 years ago
                .card-footer
                    %button Learn more
                    %ul.social
                        %li.social-icon
                            %i{:class => "fab fa-codepen fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-github fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-js fa-xs"}    

            .card
                -# %h1
                %p.pullquote You can't parse the system without quanitfying the open-source HTTP program!
                .stamps
                    %p.seen Seen 99615 times
                    %p.asked Asked over 4 years ago
                .card-footer
                    %button Learn more
                    %ul.social
                        %li.social-icon
                            %i{:class => "fab fa-codepen fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-github fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-js fa-xs"}    

            .card
                -# %h1
                %p.pullquote Try to back up the PNG microchip, maybe it wil back up the multi-byte feed!
                .stamps
                    %p.seen Seen 99615 times
                    %p.asked Asked over 4 years ago
                .card-footer
                    %button Learn more
                    %ul.social
                        %li.social-icon
                            %i{:class => "fab fa-codepen fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-github fa-xs"}
                        %li.social-icon
                            %i{:class => "fab fa-js fa-xs"}    

        %footer
            .footer-button
                %button.menu-button{:onclick => "location.href='#header'"} Back to Top
            .subfooter
                .about About
                .contact Contact
