<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thank You</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <header>
        <%- include("./navbar.ejs") %>
    </header>