    <div style="display: flex; width: 20%; justify-content: space-around; font-size: 1em; padding-bottom: 1%">
        <a href="/">Home page</a>
        <a href="/welcome">Welcome</a>
        <a href="/contact_us">Contact us</a>
    </div>