@import url("base.css");

.splash {
    width: 100%;
    display: flex;
    margin: 3em;     
    max-height: 45vh;
}

.splash h1 {
    font-size: 4em;
}

.quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
