@import url("styles.css");

body {
    background: var(--lightest);
}

article {
    padding: 3em;
    display: block;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

.form-elms {
    padding: 0.5em;
}

form {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 35vh;
}
.titleForm, .bodyForm, .submitForm {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.bodyForm textarea {
    height: 20vh;
}

.submitForm input {
    width: 100%;
}


.submitForm input {
    border-radius: 1em;
    /* transition: all 0.2s ease; */
    background-color: white;
    border: 2px solid var(--lightest);
    padding: 0.5em;
    font-size: 0.75em;
    color: var(--darkest);
    font-family: inherit;
}

.submitForm:active {
    
}

.titleForm input, textarea {
    background-color: white;
    border: 2px solid var(--darkest);
    padding: 0.5em;
    font-size: 0.75em;
    color: var(--darkest);
    font-family: inherit;
    width: 75%;
}

.titleForm input:focus, textarea:focus {
    outline: none;
    box-shadow: 5px 5px var(--darker);
}

footer {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
}
