<%- include("../partials/header.ejs", {title: "Page not found"}) %>
        <h1 style="font-size: 10em">404</h1>
        <h2>Couldn't find that page<h2>
        
        <img src="https://i.redd.it/9zn0xtnzis121.jpg" alt="walter the dog"
        style="width:40%;height:50vh"
        >

<%- include("../partials/footer.ejs") %>