<!DOCTYPE html>
<html lang="en" style="font-family: 'Helvetica'">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <header>
        <nav style="display: flex; width: 30%; justify-content: space-around">
            <a href="/car_status">Car Status</a>
            <a href="/fizz_buzz">Fizzbuzz</a>
            <a href="/random_person">Random Person</a>
            <a href="/directory_lister">Directory Lister</a>
        </nav>
    </header>