
include ../includes/header.jade

+custom-header("New Article")

article

    form(action="/articles", method="POST")
        div(class="form-group mb-3")
            label(for="title") Title
            input.form-control(type="text", name="title", placeholder="Title", autocomplete="off")
        div(class="form-group mb-3")
            label(for="content") Content
            textarea.form-control(name="content", placeholder="Content")
        input(type="submit", value="Create", class="btn btn-primary")