<div class="navbar">
    <ul class="menu">
        <li class="ghost"></li>
        <li class="menu-item"><a href="/home/index">Home</a></li>
        <li class="menu-item"><a href="/home/about">About</a></li>
        <li class="menu-item"><a href="/home/contact_us">Contact Us</a></li>
        <li class="menu-item"><a href="/home/bill_splitter">Bill Splitter</a></li>
        <li class="ghost"></li>
    </ul>
</div>